.maincontainer {
  height: 100vh;
  width: 100%;
  margin-bottom: 5rem;
}

.main {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.maintext {
  font-size: 32px;
  text-align: center;
}

.myname {
  background: #e96443; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #904e95,
    #e96443
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #904e95,
    #e96443
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-weight: bold; */
}

.mainimage {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .mainimage {
    display: block;
    position: relative;
  }

  .maintext {
    font-size: 32px;
    text-align: left;
  }
}
