.section {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 5rem;
  padding-bottom: 3rem;
  padding-top: 4rem;
  color: var(--primaryColourA);
}


.title {
  font-size: clamp(1.8125rem, 1.3214rem + 1.5714vw, 2.5rem);
  /* padding-top: 3rem; */
  padding-bottom: 1rem;
  font-weight: 500;

  --b: 0.1em;   /* the thickness of the line */
  --c: var(--accentColourA); /* the color */

  
  padding-bottom: 1rem;
  /* font-size: clamp(1.75rem, 0.8571rem + 2.8571vw, 3rem); */
  text-decoration: none;
  color: var(--primaryColourA);
  /* padding-block: var(--b); */
  background: 
    linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .2s calc(.3s - var(--_s,0s));
}

.title:hover {
  --_p: 100%;
  --_s: .3s;
  text-decoration: none;
  color: var(--primaryColourA);
}

.projectscontainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.singleproject {
  display: flex;
  flex-flow: column nowrap;
  width: 80%;
  gap: 2rem;
  margin-bottom: 30px;
  align-items: center;
}

.imagecontainer {
  display: block;
  position: relative;
  margin: 1rem;
  height: 200px;
  width: 100%;
  padding: 2rem;
  /* opacity: .7; */
  animation: skelleton-loading 1s linear infinite alternate;
  border-radius: 10%;
}

@keyframes skelleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.listcontainer {
  padding-top: 1rem;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  justify-content: center;
  padding-left: 0;
}

.listitem {
  list-style: none;
  font-size: 18px;
  
  /* background-color: rgb(24, 56, 158); */
  background-color: rgb(24, 56, 158);

  color: #ffffff;
  padding: 0.6rem 1.2rem;
  border-radius: 25px;
}

.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--accentColourA);
    letter-spacing: .4em;
    font-size: 0.85em;
    text-align: center;
}

.listitem:hover {
  list-style: none;
  background-color: #0852c0;
  padding: 0.6rem 1.2rem;
  border-radius: 25px;
}

@media screen and (min-width: 450px) {
  .imagecontainer {
    display: block;
    position: relative;
    margin: 1rem;
    height: 200px;
    width: 355.56px;
    padding: 2rem;
  }
}

.images {
  border-radius: 20%;
}

.projecttitle {
  text-align: center;
  margin-top: 10px;
  padding-bottom: 10px;
}

.projectdescription {
  text-align: center;
  font-size: 18px;
}

/* .projecttitle a {
  text-decoration: none;
  color: inherit;
} */

.projecttitle a {
  --b: 0.1em;   /* the thickness of the line */
  --c: var(--accentColourA); /* the color */

  
  padding-bottom: 1rem;
  /* font-size: clamp(1.75rem, 0.8571rem + 2.8571vw, 3rem); */
  text-decoration: none;
  color: var(--primaryColourA);
  padding-block: var(--b);
  background: 
    linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .2s calc(.3s - var(--_s,0s));
}

.projecttitle a:hover {
  --_p: 100%;
  --_s: .3s;
  text-decoration: none;
  color: var(--primaryColourA);
}



@media only screen and (min-width: 1100px) {
  .projectscontainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
  }

  .singleproject {
    display: flex;
    flex-flow: row nowrap;
    width: 80%;
    gap: 2rem;
    margin-bottom: 30px;
    align-items: center;
    justify-self: center;
    justify-content: center;
  }
  .subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--accentColourA);
    letter-spacing: .4em;
    font-size: 0.85em;
    text-align: left;
}

  .projecttitle {
    text-align: left;
  }

  .projectdescription {
    text-align: left;
    font-size: 18px;
  }

  .imagecontainer {
    display: block;
    min-width: 40%;
    
    /* position: relative; */
    margin: 1rem;
    /* flex-grow: 1;
    flex-shrink: 1; */
    /* flex-basis: 533px; */
    height: 300px;
    width: 533px;
    /* width: 40%; */
    /* padding: 2rem; */
  }
  .listcontainer {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: flex-start;
  }
}
