html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
    
    /* background-image: url("../public/ttten.svg"); */
    background-color: #ffffff;
    background-attachment: fixed;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
  }
  :root {
    --primaryColourA : #1F1F1F;
    --primaryColourB : #E9E9E9;
    --PrimaryColourB-Bluish : #F6F9FC;
    --primaryColourC : #507C74;
    
    /* #61988E  - Zomp - lighter shade of the above*/
    
    --secondaryColour : #16425B;

    --accentColourA: #E03800;
    --accentColourB: #F2D0A9;
  }
  

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    /* color-scheme: dark; */
  }
  body {
    /* background-image: url("../public/ttten.svg"); */
    background-color: #ffffff;
  }
}
